.container {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.input {
  border: 2px solid #35bafd;
  background: transparent;
  color: #fff;
  font-size: 36px;
  width: 100%;
  padding: 10px;
  line-height: 1;
  font-family: 'Montserrat';
  transition: border-color 0.2s ease-in-out;
}

.inputRed {
  border-color: #ee5a68;
}

.isGrayscale {
  filter: grayscale(1);
}

.label {
  text-align: left;
  font-size: 36px;
  padding-bottom: 10px;
}

.error {
  font-size: 24px;
  color: #ee5a68;
  text-align: left;
}

.errorWrapper {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
