.container {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  margin-left: -20px;
  width: calc(100% + 20px);
}

.text {
  width: calc(55% - 20px);
  padding-left: 30px;
  flex: none;
}

.title {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 10px;
}

img.image {
  margin: 0;
}

.figure {
  flex: none;
  margin: 0 0 0 20px;
  position: relative;
}

.figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0.7em 0;
}
