.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  appearance: none;
  cursor: pointer;
  outline: initial;
  outline-color: white !important;
}

.button:focus {
  outline-style: auto;
}

.buttonRed {
  color: #390500;
  background-color: #e74c3c;
}

.buttonYellow {
  color: #311f00;
  background-color: #f5ab27;
}

.buttonBlue {
  color: #000f1a;
  background-color: #3498db;
}

.button.noOutline {
  outline: none;
}
